<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BVRITH</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
        *{
            margin: 0;
            padding: 0;
            border: none;
            outline: none;
            text-decoration: none;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }
        body{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			background: url("https://img.freepik.com/premium-vector/female-teacher-teaching-classroom-from-online-course-while-holding-book-video-conference-with-student-tutorial-training-lecture-education-concept-illustration_270158-737.jpg?w=900")no-repeat;
			background-color:gray
			background-size 50%;
			background-position: right ;
            border: #DA70D6;
			padding-top:-50%;
            padding-bottom: 25%;
        }
        .main{
            position: relative;
            height: 75%;
            width: 100%;
            margin-top: 2px;
           
            padding: 0.1rem 0.2rem 2rem 0.5rem;
            background: #DDA0DD
        }
        .h{
            margin-left: 25%;
            font-size: 35px;
            margin-top:-10px;
        }
        .btn{
            background-color:  #8B008B;
            border-radius: 15px;
            padding: 10px 20px 10px 20px;
            font-size: 20px;
            color: white;
            margin-left: 5%;
        }
		

        .btn:hover{
            background: #DDA0DD;
        }
        .btn:active{
            background: #DDA0DD
        }
		.bottom-content {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            background: #DDA0DD;
            text-align: center;
            padding: 20px;
        }
	 .welcome-text {
			color:black;
            font-size: 24px; 
            font-style: italic; 
			margin-left:2%
        }
		.btn-container {
            display: flex;
            justify-content: space-around; 
        }

    </style>
    </head>
    <body >
	
        <div class="main">
			<h1 align="center" style="color: #8B008B" >BVRIT HYDERABAD</h1>
			<h1 align="center" style="color: #8B008B" > College of Engineering For Women</h1>

            <img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPxs-8q1ugbqzOBX4ip7z_6SXZ0YL10JjMThuYZshQfg&s" height="100px" width="120px" style="margin-top:-90px; margin-bottom:0px;"> 
         </div>
		
		</div class="background-image">
		<br>
		<div class="welcome-text">
        <h2> Welcome to department's Grievance portal</h2>
		</div>

        <br><br>
        <div align="left" >
            <br><br>
            <form method="GET" action="login">
                <button class="btn">LOGIN</button>
                <br><br>
            </form>
            <form method="GET" action="signup">
                <button class="btn">SIGN UP</button>
            </form>
        </div> 
	<div class="bottom-content">
		<h2>We are here to assist you</h2>
		<p>If you have any complaints, concerns, or grievances, please bring them to us.</p>
		<p>Our dedicated team is ready to help you resolve any issues you may have.</p>
    </div>		
		
    </body>
</html>
